<nb-card>
  <nb-card-header>
    <section class="pr-section pr-breadcrumbs-sec">
      <div class="row">
        <div class="col-10 align-self-start">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="st">Master</a></li>
              <li class="breadcrumb-item active">
                <a class="st" href="pages/master/place-order">Order Collection</a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-2">
          <button class="btn btn-info" (click)="add()">{{buttonText}}</button>
        </div>
      </div>
    </section>
  </nb-card-header>
  <nb-card-body>
    <div class="pr-section">
      <div class="br21 st">
        <div class="pr-datatable-wrap">
          <ngx-place-order-list
            [events]="orderReloadEvent.asObservable()"
            (editFromList)="edit($event)"
          >
          </ngx-place-order-list>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
