<nb-card>
  <nb-card-header>
    <section class="pr-section pr-breadcrumbs-sec">
      <div class="row">
        <div class="col-12 align-self-start">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="st">Master</a></li>
              <li class="breadcrumb-item active">
                <a class="st" href="pages/master/user">User</a>
              </li>
              <li class="breadcrumb-item active">
                <a class="st" href="pages/master/user/add">Add</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </section>
  </nb-card-header>
  <nb-card-body>
    <div class="pr-section">
      <div class="br21 st">
        <div class="pr-datatable-wrap">
          <form [formGroup]="userForm">
            <div class="modal-body">
              <div class="row">
               <div class="form-group col-lg-3">
                 <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                   <mat-label>Name</mat-label>
                   <input matInput type="text" name="name" formControlName="name" />
                   <mat-error *ngIf="basic.name.hasError('required')"
                     >Name is required</mat-error
                   >
                  </mat-form-field>
                </div>
                <div class="form-group col-lg-3">
                  <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                    <mat-label>Mobile Number<span class="text-danger"></span></mat-label>
                    <input
                      matInput
                      type="text"
                      mask="(000)000-0000"
                      prefix="+91"
                      name="mobileNumber"
                      formControlName="mobileNumber"
                    />
                    <mat-error *ngIf="basic.mobileNumber.hasError('required')"
                      >Mobile number is required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="form-group col-lg-3">
                  <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                    <mat-label>Email<span class="text-danger"></span></mat-label>
                    <input matInput type="text" name="email" formControlName="email" />
                    <mat-error *ngIf="basic.email.hasError('required')"
                      >Email is required</mat-error
                    >
                    <mat-error *ngIf="basic.email.hasError('email')"
                      >Valid email is required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="form-group col-lg-3">
                  <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                    <mat-label>Company Name</mat-label>
                    <input matInput type="text" name="companyName" formControlName="companyName" />
                    <mat-error *ngIf="basic.companyName.hasError('required')"
                      >Company Name is required</mat-error
                    >
                   </mat-form-field>
                 </div>
                 <div class="form-group col-lg-3">
                  <app-multi-select
                    #sellerTypeMultiSelect
                    isMultiSelect="false"
                    [options]="sellerTypes"
                    label="Seller Type"
                    [isSubmit]="isSubmit"
                    isRequired="true"
                    [(dropDownValue)]="selectedSellerType"
                  ></app-multi-select>
                </div>
                <div class="form-group col-lg-3">
                  <app-multi-select
                    #roleMultiSelect
                    isMultiSelect="false"
                    [options]="roles"
                    label="Role"
                    [isSubmit]="isSubmit"
                    isRequired="true"
                    [(dropDownValue)]="selectedRole"
                  ></app-multi-select>
                </div>
                <div class="form-group col-lg-3">
                  <app-multi-select
                    #productMultiSelect
                    isMultiSelect="true"
                    [options]="products"
                    label="Favorite Products"
                    [isSubmit]="isSubmit"
                    isRequired="true"
                    [(dropDownValue)]="selectedProducts"
                  ></app-multi-select>
                </div>
                <div class="form-group col-md-3" style="padding-top: 20px;">
                  <div>
                    <mat-slide-toggle formControlName="isActive">Enabled/Disabled</mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 row" style="margin-bottom: 1%; align-items: center;">
                  <p class="col-lg-1"><b>Address</b></p>
                  <button class="btn" mat-mini-fab color="primary" type="button"  (click)="addNewAddressGroup()"><mat-icon>add</mat-icon></button>
                </div>
                <div  class="col-lg-12 row" *ngFor="let addressGroup of userForm.get('userAddress')['controls']; let i = index" [formGroup]="addressGroup">
                  <p class="col-12"><b>Address {{i+1}}</b></p>
                  <div class="form-group col-lg-2">
                    <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                      <mat-label>Door Number</mat-label>
                      <input matInput type="text" name="doorNo" formControlName="doorNo" />
                      <mat-error *ngIf="basic.userAddress.hasError('required')"
                        >Door Number is required</mat-error
                      >
                     </mat-form-field>
                   </div>
                   <div class="form-group col-lg-2">
                    <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                      <mat-label>Street</mat-label>
                      <input matInput type="text" name="street" formControlName="street" />
                      <mat-error *ngIf="basic.userAddress.hasError('required')"
                        >Street is required</mat-error
                      >
                     </mat-form-field>
                   </div>
                   <div class="form-group col-lg-3">
                    <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                      <mat-label>Area</mat-label>
                      <input matInput type="text" name="area" formControlName="area" />
                      <mat-error *ngIf="basic.userAddress.hasError('required')"
                        >Area is required</mat-error
                      >
                     </mat-form-field>
                   </div>
                   <div class="form-group col-lg-2">
                    <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                      <mat-label>Postal Code</mat-label>
                      <input matInput type="text" name="postalCode" formControlName="postalCode" />
                      <mat-error *ngIf="basic.userAddress.hasError('required')"
                        >Postal Code is required</mat-error
                      >
                     </mat-form-field>
                   </div>
                   <div class="form-group col-lg-1">
                    <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                      <mat-label>Latitude</mat-label>
                      <input matInput type="text" name="latitude" formControlName="latitude" />
                      <mat-error *ngIf="basic.userAddress.hasError('required')"
                        >Latitude is required</mat-error
                      >
                     </mat-form-field>
                   </div>
                   <div class="form-group col-lg-1">
                    <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
                      <mat-label>Longitude</mat-label>
                      <input matInput type="text" name="longitude" formControlName="longitude" />
                      <mat-error *ngIf="basic.userAddress.hasError('required')"
                        >Longitude is required</mat-error
                      >
                     </mat-form-field>
                   </div>
                  <div>
                    <button
                    mat-icon-button
                    color="warn"
                    matTooltip="Delete"
                    type="button"
                    (click)="deleteAddressGroup(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group text-right mb-0">
                <button
                  class="btn btn-primary waves-effect waves-light mr-1"
                  type="submit"
                  (click)="submitForm()"
                >
                  Submit
                </button>
                <button
                  (click)="cancel()"
                  class="btn btn-secondary waves-effect waves-light"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
