<!-- <mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search Filter
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <form [formGroup]="form">
        <div class="row">
          <div *ngFor="let childFormData of formData" class="form-row col-2">
            <app-dynamic-form-template [childFormData]="childFormData" [form]="form"></app-dynamic-form-template>
          </div>
          <div class="form-row col-1" style="margin-top:20px;">
            <div class="btn btn-primary" (click)="onSave()">Search</div>

          </div>
        </div>
      </form>

    </div>
  </mat-expansion-panel>
</mat-accordion> --> 
