<div class="modal-header no-header">
  <h1 class="page-ttl">Add Bid</h1>
  <div
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="cancel()"
  >
    <span aria-hidden="true">&times;</span>
  </div>
</div>

<form [formGroup]="sellerForm">
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-lg-6">
        <app-multi-select
          #productMultiSelect
          isMultiSelect="false"
          [options]="sellers"
          label="Seller Name"
          [isSubmit]="isSubmit"
          isRequired="true"
          [(dropDownValue)]="selectedSeller"
></app-multi-select>
      </div>
      <div class="form-group col-lg-6">
        <app-multi-select
          #productMultiSelect
          isMultiSelect="false"
          [options]="buyers"
          label="Buyer Name"
          [isSubmit]="isSubmit"
          isRequired="true"
          [(dropDownValue)]="selectedBuyer"
        ></app-multi-select>
      </div>
      <div class="form-group col-lg-6">
        <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
          <mat-label>Weight</mat-label>
          <input matInput type="number" name="weight" formControlName="weight" />
         </mat-form-field>
       </div>
       <div class="form-group col-lg-6">
        <mat-form-field appearance="fill" class="full-width" style="width: 100%;">
          <mat-label>Amount</mat-label>
          <input matInput type="number" name="amount"formControlName="amount" />
         </mat-form-field>
       </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group text-right mb-0">
      <button
        class="btn btn-primary waves-effect waves-light mr-1"
        type="submit"
        (click)="submitForm()"
      >
        Submit
      </button>
      <button
        (click)="cancel()"
        class="btn btn-secondary waves-effect waves-light"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
