<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-10">
        <h6>User Details</h6>
      </div>
      <div class="col-2">
        <button type="button" mat-stroked-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-borderless">
      <tr class="col-12">
        <td>
            <tr><th>Name</th></tr>
            <tr><th>Mobile Number</th></tr>
            <tr><th>Email</th></tr>
            <tr><th>User Type</th></tr>
            <tr><th>Company name</th></tr>
            <tr><th>Seller Type</th></tr>
            <tr><th>Is Active</th></tr>
        </td>
        <td >
            <tr><td>{{ data?.name }}</td></tr>
            <tr><td>{{ data?.mobileNumber }}</td></tr>
            <tr><td>{{ data?.email }}</td></tr>
            <tr><td>{{ data?.userType }}</td></tr>
            <tr><td>{{ data?.companyName }}</td></tr>
            <tr><td>{{ data?.sellerType?.name }}</td></tr>
            <tr><td>{{ data?.isActive }}</td></tr>
        </td>
      </tr>
    </table>
    <div>
      <h6>User Address</h6>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Door Number</th>
        <th>Street</th>
        <th>Area</th>
        <th>Postal Code</th>
        <th>Latitude</th>
        <th>Longititude</th>
      </thead>
      <tbody>
        <tr *ngFor="let address of data.userAddress">
          <td>{{ address?.doorNo }}</td>
          <td>{{ address?.street }}</td>
          <td>{{ address?.area }}</td>
          <td>{{ address?.postalCode }}</td>
          <td>{{ address?.latitude }}</td>
          <td>{{ address?.longitude }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Favorite Products</th>
      </thead>
      <tbody>
        <tr *ngFor="let fav of data.favoriteProducts">
          <td>{{ fav?.name }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
